<h1>タスクの新規登録</h1>
<div class="nav justify-content-end">
  <%= link_to '一覧', tasks_path, class: 'nav-link' %>
</div>

<% if @task.errors.present? %>
  <ul id="error_explanation">
    <% @task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'form', locals: { task: @task } %>